
section#about{
  color: $id_color;
  background: #fff;


  .slide{
    width: 100vw;
    height: 100vh;

    &:nth-child(2){
      position: absolute;
      left: 100vw; top: 0;
    }



    ////////////////////////////
    // CAPACIDAD
    ////////////////////////////
    &.capacidad{
      .svg_holder{
        position: absolute;
        width: 100vw;
      }

      .icon{
        
        // TITULO
        &.title{
          color: $id_color;
        }


        // ICONS
        &.beneficios,
        &.mercado{

          h3{
            padding-left: 7.5vw;
            margin: 0;
          }
          p{
            padding-left: 7.5vw;
            margin: 0;
            text-transform: none;
          }

          span{
            //@include vertical-align();
            position: absolute;
            left: 0; 
            color: $id_color;
            font-size: 1.875em;
            font-weight: 500;
            letter-spacing: -.3em;
          }
        }


        // BENEFICIOS
        &.beneficios{
        }


        // MERCADO
        &.mercado{
        }
      }
    }



    ////////////////////////////
    // GRUPO
    ////////////////////////////
    &.grupo{


      .top_svg{
        position: fixed;
        top: 0;
        width: 100vw
      }
      .bottom_svg{
        position: fixed;
        bottom: -8px;
        width: 100vw
      }

      .icon{

        // TITLE
        &.title{
          color: $id_color;
        }


        // ICONS
        &.mexico,
        &.nacional{
          padding-left: 7.5vw;

          h3{
            margin: 0;
          }
          p{
            margin: 0;
            text-transform: none;
          }

          span{
            @include vertical-align();
            position: absolute;
            left: 0;
            color: $id_color;
            font-size: 3.25rem;
            font-weight: 700;
            letter-spacing: 0em;
            line-height: 0;
          }
        }


        // NACIONAL
        &.nacional{
          span{
            width: 3.5rem;
            background: url($images_path+'home_circles.svg') no-repeat center;
            background-size: contain;

            &:before{
              content: '';
              display: block;
              position: relative;
              padding-bottom: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }






  //---------------------------------------------------------//
  // MEDIA QUERIES
  //---------------------------------------------------------//
  @media screen and ( min-width: $reference_desktop ){
    .slide{

      ////////////////////////////
      // CAPACIDAD
      ////////////////////////////
      &.capacidad{

        .icon{
          position: absolute;
          font-size: 3.202247191vw;
          
          // TITULO
          &.title{
            left: percentage(517/$reference_width);
            top: percentage(220/$reference_height);
          }

          // BENEFICIOS & MERCADO
          &.beneficios,
          &.mercado{
            left: percentage(530/$reference_width);
            top: percentage(710/$reference_height);
            text-transform: uppercase;

            span{
              width: 5.5vw;
              left: 1vw; //top: 4vh;
            }

            p{
              position: relative;
              top: -.87em;
            }
          }

          //
          &.beneficios{
            left: percentage(530/$reference_width);
          }

          //
          &.mercado{
            left: percentage(1190/$reference_width);

            p{
              position: relative;
              top: 0;
            }
          }
        }
      }



      ////////////////////////////
      // GRUPO
      ////////////////////////////
      &.grupo{


        .icon{
          position: absolute;
          font-size: 3.202247191vw;


          // TITULO
          &.title{
            left: percentage(517/$reference_width);
            top: percentage(220/1178);

            h2{
              line-height: .75em;
            }
            h3{
              line-height: .875em;
            }
          }

          // MEXICO
          &.mexico{
            padding-left: 9vw;
            left: percentage(530/$reference_width);
            top: percentage(720/$reference_height);

            span{
              font-size: 6.2vw;
              margin-top: -14px;
            }

            p{
              position: relative;
              top: -.75em;
            }
          }

          // NACIONAL
          &.nacional{
            left: percentage(1190/$reference_width);
            top: percentage(720/$reference_height);

            span{
              width: 5vw;
              left: 1vw;
            }
          }
        }
      }
    }
  }
}

