


section#contact{
  color: #fff;
  background: $id_color3;



  .slide{
    color: #fff;


    &:nth-child(2){
      position: absolute;
      left: 100vw; top: 0;
    }



    ////////////////////////////
    // FORM SLIDE
    ////////////////////////////
    &.form{
      .svg_holder{
        position: absolute;
        width: 100vw;
        bottom: 0;
      }

      //
      .icon{
        color: #FFF;
        text-transform: none;

        p{
          padding: 0;
        }


        //////////////////
        // FROM
        &.contact_form{
          margin: 0 auto;
          width: 80%;

          form{

            .data_holder{
              margin-bottom: .5em;
            }


            .data_holder.console{
              clear: both;
              display: block;
              font-size: 1.55rem;
              margin-top: .5em;
              padding: .25em .75em .2em;
              width: 100%;
              letter-spacing: .02em;

              &.error{
                border: solid 2px #ff3333;
                background-color: #ffaaaa;
              }

              &.success{
                border: solid 2px #33ff33;
                background-color: #62b97f;
              }
            }


            label{
              position: absolute;
              top: -9999px;
              left: -9999px;
            }

            input{
              @include placeholder {
                color: #fff;
                padding-top: .2em;
                @include transition(all .1s ease-out);
              }

              &:focus{
                @include placeholder {
                  color: darken($id_color2, 12%);
                }
              }
            }

            input[type=text],
            input[type=number],
            input[type=email]{
              width: 100%;
              max-width: 100%;
              padding: .5em .875em .4em;
              border: 0;
              margin: auto;
              color: #fff;//darken($id_color, 10%);
              background: $id_color;
              font-size: 1.25rem;
              font-weight: 700;

              @include transition(all .1s ease-out);


              &:focus{
                color: #fff;
                background: $id_color2;
                text-transform: uppercase;
              }
            }


            input[type=submit]{
              border: none;
              padding: .7em 1.25em .55em;
              background: $id_color2;
              font-weight: 700;
              font-size: 1.25rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }




  
  
  //---------------------------------------------------------//
  // MEDIA QUERIES
  //---------------------------------------------------------//
  @media screen and ( min-width: $reference_desktop){
    .slide{
      width: 100vw;
      height: 100vh;
      top: 0;

      &.form{
        .icon{
          position: absolute;

          //////////////////
          // INFO
          &.contact_info{
            width: percentage(780/$reference_width);
            left: percentage(532/$reference_width);
            top: percentage(340/$reference_height);
          }


          //////////////////
          // FROM
          &.contact_form{
            @include clearfix();
            margin: 0;
            width: percentage(1320/$reference_width);
            left: percentage(532/$reference_width);
            top: percentage(540/$reference_height);

            form{
              position: relative;
              left: -.25em;

              .data_holder{
                float: left;
                width: 50%;
                padding: 0 .25em;

                &.half{
                  width: 25%;
                }
              }

              input[type=text],
              input[type=number],
              input[type=email]{
                font-size: 1.8rem;
              }
              input[type=submit]{
                font-size: 1.75rem;
              }
            }
          }
        }
      }
    }
  
  }
}