<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/videogular-themes-default/videogular.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="app">

    <div id="main_container" scroller>

        <div id="menu_column" main-menu >
            <a ng-click="isOpen = true" class="menu_icon">Menu</a>
            <a ng-click="isOpen = false" class="close_icon">Cerrar</a>
            
            <nav>
              <ul class="menu_list">
                <li><a href="#/about">Somos</a></li>
                <li><a href="#/offer">Ofrecemos</a></li>
                <li><a href="#/leasing">Productos</a></li>
                <li><a href="#/contact">Contacto</a></li>
                <li><a href="#/faqs">FAQs</a></li>
              </ul>  
            </nav>
        </div>


        <div id="content_column">
          <a href="#/home" class="logo"></a>

          <section id="home" viewport home></section>
          <section id="about" viewport about></section>
          <section id="offer" viewport offer ></section>
          <section id="leasing" viewport leasing ></section>
          <section id="contact" viewport contact ></section>
          <section id="faqs" viewport faqs ></section>
            
        </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery.easing/js/jquery.easing.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/videogular/videogular.js"></script>
    <script src="bower_components/videogular-controls/vg-controls.js"></script>
    <script src="bower_components/videogular-buffering/vg-buffering.js"></script>
    <script src="bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="bower_components/videogular-poster/vg-poster.js"></script>
    <script src="bower_components/videogular-ima-ads/vg-ima-ads.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/menu.js"></script>
    <script src="scripts/directives/scroll.js"></script>
    <script src="scripts/directives/section.js"></script>
    <script src="scripts/directives/home.js"></script>
    <script src="scripts/directives/about.js"></script>
    <script src="scripts/directives/leasing.js"></script>
    <script src="scripts/directives/offer.js"></script>
    <script src="scripts/directives/contact.js"></script>
    <script src="scripts/directives/faqs.js"></script>
    <!-- endbuild -->
    
</body>
</html>
