<div class="wrapper">
    <div class="slide form">
    	<div class="svg_holder">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1980 1178">
				<defs>
			        <clipPath id="contact_clipRight">
			          <rect id="contact_clipRight_rect" x="898" y="1062" width="164" height="11"></rect>
			        </clipPath>
			    </defs>

				<rect x="1815" y="1062" fill="#939598" width="164" height="11"></rect>

				<g style="clip-path: url(#contact_clipRight);">
			        <rect x="1815" y="1062" fill="#004876" width="164" height="11"></rect>
			    </g>
			</svg>
			
		</div>
		
    	<div class="icon contact_info">
			<p>Env&iacute;a tus datos con las caracter&iacute;sticas generales de la cotizaci&oacute;n que necesitas y nosotros nos ponemos en contacto.</p>
		</div>

		<div class="icon contact_form">
		  	<form action="#" method="POST" >
		  		<fieldset>
		  			<div class="data_holder"><label for="name_txt">Nombre</label><input type="text" placeholder="Nombre"></div>
		  			<div class="data_holder"><label for="mail_txt">E-Mail</label><input type="text" placeholder="E-Mail"></div>
		  			<div class="data_holder half"><label for="unidades_txt"># Unidades</label><input type="text" placeholder="# Unidades"></div>
		  			<div class="data_holder half"><label for="marca_txt">Marca</label><input type="text" placeholder="Marca"></div>
		  			<div class="data_holder half"><label for="modelo_txt">Modelo</label><input type="text" placeholder="Modelo"></div>
		  			<div class="data_holder half"><label for="version_txt">Versi&oacute;n</label><input type="text" placeholder="Versi&oacute;n"></div>
		  			<div class="data_holder"><label for="equipo_txt">Equipo especial</label><input type="text" placeholder="Equipo especial"></div>
		  			<div class="data_holder"><label for="comments_txt">M&aacute;s comentarios</label><input type="text" placeholder="M&aacute;s comentarios"></div>


		  			<div class="data_holder"><input type="submit" value="Enviar"></div>
		  		</fieldset>
		  	</form>
		</div>

	</div>
</div>