
<div class="wrapper faqs">


	<div class="icon faqs_title">
	    <h2>FAQs</h2>
	    <p>preguntas frecuents</p>
	</div>



	<div class="icon faqs_list">
	    <ul>
	    	<li ng-click="openModal($event)" class="question question1">
	    		<h4>&iquest;Qu&eacute; es el arrendamiento puro?</h4>

	    		<div class="answer">
					<a class="close_btn" >Cerrar</a>

		        	<div class="content">
		            	<p>Es la manera de obtener el uso y/o goce de un activo por medio de pagos preestablecidos entre el Arrendador y Arrendatario.</p>
		            </div>
		        </div>
	    	</li>


	    	<li ng-click="openModal($event)" class="question question2">
	    		<h4>&iquest;Cu&aacute;les son los beneficios del arrendamiento puro?</h4>
				
				<div class="answer">
					<a class="close_btn" >Cerrar</a>

	              	<ul>
		          		<li>
		          			<p><strong>Menor desembolso inicial</strong></p>
		          		</li>
		          		<li>
		          			<p>
		          				<strong>Liberaci&oacute;n de capital de trabajo</strong>
		          				para destinarse en &aacute;reas productivas del negocio
		          			</p>
		          		</li>
		          		<li>
		          			<p>
		          				<strong>Deductibilidad fiscal</strong>
		          				en veh&iacute;culos y autom&oacute;viles de acuerdo con los topes marcados en la ley de impuesto sobre la renta.
		          			</p>
		          		</li>
		          	</ul>
		          	<ul>
		          		<li>
		          			<p>
		          				<strong>Al Arrendatario (cliente) no paga el impuesto al activo </strong>
		          				sobre el bien arrendado ya que no son de su propiedad
		          			</p>
		          		</li>
		          		<li>
		          			<p>
		          				<strong>Disponibilidad inmediata del bien</strong>		
		          			</p>
		          		</li>
		          		<li>
		          			<p>
		          				<strong>No se registran activos ni pasivos </strong>
		          				s&oacute;lamente se clasifica como un gasto operativo
		          			</p>
		          		</li>
		          	</ul>
		       </div>
	    	</li>


	    	<li ng-click="openModal($event)" class="question question3">
	    		<h4>&iquest;A qu&eacute; plazo puedo contratar mi arrendamiento?</h4>

	    		<div class="answer">
					<a class="close_btn" >Cerrar</a>

		            <div class="content">
		              <p>12, 18, 36, 48 Meses</p>
		            </div>
		        </div>
	    	</li>




	    	<li ng-click="openModal($event)" class="question question4">
	    		<h4>&iquest;C&oacute;mo contrato un arrendamiento?</h4>

	    		<div class="answer">
					<a class="close_btn" >Cerrar</a>

		            <div class="content">

		              <div class="column">
		              	<span>1</span><p>Cotizaci&oacute;n y aprobaci&oacute;n de cotizaci&oacute;n</p>
		              </div>
		              <div class="column">
		              	<span>2</span><p>Documentaci&oacute;n y validaci&oacute;n</p>
		              </div>
		              <div class="column">
		              	<span>3</span><p>Firma, contrato y entrega</p>
		              </div>
		            </div>
		        </div>
	    	</li>

	    </ul>


	</div>
</div>