<div class="wrapper">
    <div class="slide satisfaccion">

      <div class="svg_holder">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1980 1178">

          <defs>
            <clipPath id="offerClipTop">
              <rect id="offerClipRectTop" x="347" y="-620" width="35" height="600"></rect>
            </clipPath>
            <clipPath id="offerClipRight">
              <rect id="offerClipRectRight" x="-562" y="590" width="915" height="30"></rect>
            </clipPath>
            <clipPath id="offer2ClipRight">
              <rect id="offer2ClipRectRight" x="1643" y="590" width="168" height="30"></rect>
            </clipPath>
          </defs>

          <path fill="#F7941E" d="M1252.835,593.635c-5.319,0-9.884,3.219-11.86,7.813H602.45c-1.977-4.595-6.541-7.813-11.86-7.813 s-9.883,3.219-11.86,7.813H365.887V298.471c4.283-2.101,7.239-6.491,7.239-11.583s-2.956-9.482-7.239-11.583V0h-11.339v275.305 c-4.283,2.101-7.239,6.491-7.239,11.583s2.956,9.482,7.239,11.583v313.166h0h11.338H578.73c1.976,4.595,6.541,7.814,11.86,7.814 s9.884-3.22,11.86-7.814h638.524c1.976,4.595,6.54,7.814,11.86,7.814c7.129,0,12.908-5.779,12.908-12.908 S1259.964,593.635,1252.835,593.635z"></path>

          <rect x="1811.999" y="600.873" fill="#F7941E" width="168.001" height="11.338"></rect>

          <g style="clip-path: url(#offerClipTop);">
            <path fill="#004876" d="M1252.835,593.635c-5.319,0-9.884,3.219-11.86,7.813H602.45c-1.977-4.595-6.541-7.813-11.86-7.813 s-9.883,3.219-11.86,7.813H365.887V298.471c4.283-2.101,7.239-6.491,7.239-11.583s-2.956-9.482-7.239-11.583V0h-11.339v275.305 c-4.283,2.101-7.239,6.491-7.239,11.583s2.956,9.482,7.239,11.583v313.166h0h11.338H578.73c1.976,4.595,6.541,7.814,11.86,7.814 s9.884-3.22,11.86-7.814h638.524c1.976,4.595,6.54,7.814,11.86,7.814c7.129,0,12.908-5.779,12.908-12.908 S1259.964,593.635,1252.835,593.635z"></path>
          </g>
          <g style="clip-path: url(#offerClipRight);">
            <path fill="#004876" d="M1252.835,593.635c-5.319,0-9.884,3.219-11.86,7.813H602.45c-1.977-4.595-6.541-7.813-11.86-7.813 s-9.883,3.219-11.86,7.813H365.887V298.471c4.283-2.101,7.239-6.491,7.239-11.583s-2.956-9.482-7.239-11.583V0h-11.339v275.305 c-4.283,2.101-7.239,6.491-7.239,11.583s2.956,9.482,7.239,11.583v313.166h0h11.338H578.73c1.976,4.595,6.541,7.814,11.86,7.814 s9.884-3.22,11.86-7.814h638.524c1.976,4.595,6.54,7.814,11.86,7.814c7.129,0,12.908-5.779,12.908-12.908 S1259.964,593.635,1252.835,593.635z"></path>
          </g>
          <g style="clip-path: url(#offer2ClipRight);">
            <rect x="1811.999" y="600.873" fill="#A4A9AD" width="168.001" height="11.338"></rect>
          </g>
        </svg>


        <div class="icon title">
          <h2>Satisfacci&oacute;n </h2>
          <h3>de todos <br/>nuestros clientes</h3>
        </div>
        <div class="icon subtitle">
          <p>ofrecemos</p>
        </div>

        <div class="icon personalizados">
          <p>en programas</p>
          <h3>personalizados</h3>
        </div>

        <div class="icon unidades">
          <p>para arrendamiento de</p>
          <h3>+ de 3 <br/>unidades</h3>
        </div>
      </div>
    </div>







    <div class="slide disponibilidad">
      <div class="svg_top">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1980 1178">

          <defs>
            <clipPath id="offer_2clipTop1">
              <rect id="offer_2clipTop1_rect" x="200" y="610" width="1100" height="256"></rect>
            </clipPath>
            <clipPath id="offer_2clipTop2">
              <rect id="offer_2clipTop2_rect" x="200" y="610" width="1100" height="256"></rect>
            </clipPath>
            <clipPath id="offer_2clipBottom1">
              <rect id="offer_2clipBottom1_rect" x="200" y="335" width="1100" height="256"></rect>
            </clipPath>
            <clipPath id="offer_2clipBottom2">
              <rect id="offer_2clipBottom2_rect" x="200" y="335" width="1100" height="256"></rect>
            </clipPath>
          </defs>

          <rect x="343.709" y="352.571" fill="#939598" width="11.338" height="254"></rect>
          <rect x="1109.352" y="352.571" fill="#939598" width="11.338" height="254"></rect>
          <rect x="343.709" y="606.764" fill="#939598" width="11.338" height="254"></rect>
          <rect x="1109.352" y="606.984" fill="#939598" width="11.338" height="254"></rect>


          <g style="clip-path: url(#offer_2clipTop1);">
            <rect x="343.709" y="352.571" fill="#FFB700" width="11.338" height="254"></rect>
          </g>
          <g style="clip-path: url(#offer_2clipTop2);">
            <rect x="1109.352" y="352.571" fill="#FFB700" width="11.338" height="254"></rect>
          </g>
          <g style="clip-path: url(#offer_2clipBottom1);">
            <rect x="343.709" y="606.764" fill="#FFB700" width="11.338" height="254"></rect>
          </g>
          <g style="clip-path: url(#offer_2clipBottom2);">
            <rect x="1109.352" y="606.984" fill="#FFB700" width="11.338" height="254"></rect>
          </g>
        </svg>

      

        <div class="icon disponibilidad">
          <h3>Accesibilidad</h3>
          <p>a todas las marcas y modelos</p>
        </div>

        <div class="icon precio">
          <h3>Mejor precio</h3>
          <p>en compras de unidades y seguros</p>
        </div>

        <div class="icon capacidad">
          <h3>Capacidad</h3>
          <p>financiera <strong>y respuesta</strong> inmediata</p>
        </div>

        <div class="icon flexibilidad">
          <h3>Flexibilidad</h3>
          <p>para cada cliente</p>
        </div>

      </div>



      <div class="svg_bottom">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1980 1178">

          <defs>
            <clipPath id="offer_2clipRight">
              <rect id="offer_2clipRight_rect" x="1644" y="1062" width="168" height="30"></rect>
            </clipPath>
          </defs>

          <rect x="1812.102" y="1062.173" fill="#939598" width="168" height="11.338"></rect>

          <g style="clip-path: url(#offer_2clipRight);">
            <rect x="1812.102" y="1062.173" fill="#FFB700" width="168" height="11.338"></rect>
          </g>
        </svg>

      </div>
    </div>



    <div class="slide leasing">
      <div class="svg_bottom">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1980 1178" >

          <defs>
            <clipPath id="offer_3clipTop">
              <rect id="offer_3clipTop_rect" x="546" y="-184" width="20" height="681"></rect>
            </clipPath>
            <clipPath id="offer_3clipRight">
              <rect id="offer_3clipRight_rect" x="739" y="682" width="625" height="20"></rect>
            </clipPath>
          </defs>

          <rect x="546" y="497" fill="#F7941E" width="11" height="681"></rect>
          <rect x="1364" y="682" fill="#F7941E" width="625" height="11"></rect>

          <g style="clip-path: url(#offer_3clipTop);">
            <rect x="546" y="497" fill="#004876" width="11" height="681"></rect>
          </g>
          <g style="clip-path: url(#offer_3clipRight);">
            <rect x="1364" y="682" fill="#FFFFFF" width="625" height="11"></rect>
          </g>
        </svg>


        
        <div class="icon leasing" data-ng-click="offerCtrl.changeProduct('leasing')">
          <h2>Leasing</h2>
          <p>Arrendamiento puro <br/> para personas morales</p>
        </div>


      <div class="icon service" data-ng-click="offerCtrl.changeProduct('service')">
        <h2>Full <br/>service <br/>lease</h2>
      </div>

      <div class="icon renta">
        <span>&gt;&gt;</span>
        <a href="http://www.casanovarent.com.mx">&iquest;renta diaria? <br/>casanova-rent.com</a>
      </div>
        
      </div>
    </div>
</div>